<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">MCB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/productList']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="role === 'NORMAL'" [routerLink]="['/productList']" >View Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="role === 'ADMIN'" [routerLink]="['/addItem']">Add Item</a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" *ngIf="role === 'NORMAL'" [routerLink]="['/productList']">
              <span class="fa fa-cart-plus"></span>{{getCart().length}}
            </a>
          </li>
          <li class="nav-item">
            <!-- <button *ngIf="isActive==='ACTIVE'" (click)="logOut()" class="btn btn-success">Log Out</button> -->
            <a class="nav-link" href="#">Log Out</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>




 