<div class="container">
    <div class="container text-center">
        <h4>
            Would you like to add more products ?
        </h4>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="cardb">
                <div class="t-header">
                    <p>Description</p>
                    <p>Currency</p>
                    <p>Quantity</p>
                </div>
                <div class="t-body">
                    <select class="select">
                        <option>50 page cheque book(MUR 25.00 p/unit)</option>
                        <option>25 page cheque book(MUR 12.00 p/unit)</option>
                    </select>
                    <select class="select">
                        <option>MUR</option>
                        <option>INR</option>
                        
                    </select>
                    <input type="number">
                </div>
            
            </div>
           
        </div>

        <div class="col-md-4">
            <div class="card cardc">
                
                <div class="card-header text-light">
                    <b class="">Summary</b>
                    <hr class="rounded">
                    <div class="line"></div>
                </div>
                <div class="card-body">
                    <div class="total">
                        <p>2000</p>
                        <p>50 page cheque book</p>
                        <p>5000</p>
                    </div>
                    <div class="total">
                        <p>1000</p>
                        <p>25 page cheque book</p>
                        <p>2500</p>
                    </div>
                </div>
                <div class="card-footer text-light">
                    <hr class="rounded">
                    <div class="total">
                        <p>Total</p>
                        <p>10000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>