
img{
    width: 350px;
    height: 300px;
    object-fit: contain;
}
.card{
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border: none;
}
.button-custom{
    display: flex;
    justify-content: space-evenly;
}
strong{
    font-size: 30px;
}
.cbtn{
    height: 30px;
    width: 150px;
}
input{
    width: 90px;
}